.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___root img {
  max-height: 290px;
}

.preview___fighter-name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 24px;
  font-family: 'Arial Black', serif;
  font-weight: 700;
}

.preview___fighter-info {
  display: flex;
  flex-direction: column;
  padding: 3px 10px;
  background: #ffdfa7;
  margin: 10px;
  border: 5px solid #ca9650;
  color: black;
  font-size: 14px;
  font-family: 'Arial Black', serif;
}

.preview___fighter-info:hover {
  background: #cbe4f8;
  border: 5px solid #267abf;
}